body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    cursor: url('potos/idle.png'), auto;
}



.music-control {
    position: fixed;
    top: 25px;
    right: 65px;
    z-index: 1000;
    filter: invert(0.2) brightness(1.2);
}

.music-control img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    filter: invert(0.6); 
}

.bounce-animation {
    transform: translateY(-5px);
    animation: bounce 0.2s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('potos/flasbulb2.png');
    background-size: 200px 200px;
    animation: moveBackground 20s linear infinite;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.warp-image {
    width: 600px;
    animation: warp 2s infinite;
    margin-bottom: 100px;
}

.youtube-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.youtube-links a {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    display: block;
}

.youtube-links img {
    width: 340px;
    transition: transform 0.3s ease-in-out;
}

.youtube-links a:hover {
    transform: translateY(-5px);
}

.textbox-container {
    position: relative;
    margin-top: 325px;
    margin-bottom: 200px; 
    left: -300px;
    top: -45;
}

.textbox-image {
    width: 750px; 
    height: auto;
}

.texter-image {
    position: absolute;
    top: -45;
    left: 0;
    width: 750px;
    animation: sway 10s ease-in-out infinite; 
}

.arrow-image {
    position: absolute;
    top: -50px; 
    left: -130px;
    width: 300px; 
    animation: sway2 10s ease-in-out infinite; 
}

@keyframes sway2 {
    0%, 100% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px); 
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px); 
    }
}

@keyframes sway {
    0%, 100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

.marquee-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.marquee {
    display: inline-block;
    color: #00FF00;
    font-size: 10px;
    font-weight: 100;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(calc(100% + 2000px));
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes warp {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.2, 0.8);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(1.2, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 600px 600px;
    }
}

.grid-column {
    position: fixed;
    width: 50px;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-y;
    z-index: 500;
}

.grid-column.left {
    left: 0;
    background-image: url('potos/grid.png');
}

.grid-column.extra-left {
    left: 50px;
    background-image: url('potos/wave.png');
}

.grid-column.extra-right {
    right: 50px;
    background-image: url('potos/wave2.png');
}

.grid-column.right {
    right: 0;
    background-image: url('potos/grid.png');
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: transparent; 
    color: white;
    max-width: 1000px;
}

h2 {
    color: #00FF00;
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    margin: 5px 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2000;
}

.modal-content {
    text-align: center;
    color: white;
}

.modal-content p {
    margin: 20px 0;
    color: #00FF00;
}

.modal-content .small-text {
    font-size: 14px;
    color: #00FF00;
}

.close-modal {
    border: none;
    background: none;
    cursor: pointer;
}

.close-modal img {
    width: 70px;
    cursor: pointer;
}

.other-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.other-links a {
    display: block;
    width: 20px;
    height: 20px;
}

.other-links img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.other-links a:hover img {
    transform: scale(1.1);
}

.theme-buttons {
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 1500;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
}

.theme-btn {
    width: 50.5px;
    height: 50.5px;
    cursor: pointer;
    margin-top: -53px;
    position: relative;
    left: 0px
}

.theme-display {
    position: fixed;
    right: 60px;
    bottom: 100px;
    z-index: 1499;
}

.theme-display img {
    width: 300px;
    height: auto;
    image-rendering: pixelated;
}

#btn-yellow {
    position: relative;
    top: 4px;
}

#btn-orange {
    bottom: 50px; 
    z-index: 1502;
}

#btn-red {
    bottom: 103px;
    z-index: 1503;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .theme-img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  